
#googlemap {
	max-width: 100%;
	height: 300px;
}

/* HOME */
#map-home{
	height: 600px;
	margin: auto;
	margin-top: 30px;
}

/*FOOTER*/
#footer {
	text-align: center;
}

body {
	margin-top: 60px;
}

.nom-crise {
	font-size: larger;
}

#footer {
	background-color: #000000;
}