#googlemap {
	/* Modifier la taille de la carte avec width et height */
	max-width:100%;
	height:500px;
	border:1px solid #efefef;
	margin:auto;
	-moz-box-shadow:5px 5px 10px #000;
	-webkit-box-shadow:5px 5px 10px #000;
}

/* HOME */
#map-home{
	height: 600px;
	margin: auto;
}

#clicker { 
    width: 100px; 
    height: 100px; 
    background-color: Green; 
}

#rotating { 
    width: 100px; 
    height: 100px; 
    background-color: Red; 
    margin-top: 50px; 
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rotated { 
    transform:rotate(90deg); 
    -webkit-transform:rotate(90deg); 
    -moz-transform:rotate(90deg); 
    -o-transform:rotate(90deg); 
}


.replace_cursor {
	cursor: url(../img/sabre.png), auto;
}

#trombi .el-trombi img{
	cursor: pointer; 
	margin-top:20px;
	max-width: 100%; 
	height: 245px;
	transition: all 1s;
	opacity: 1;
}
#trombi .el-trombi img:hover{
	opacity: 0.5
}
#trombi .el-trombi[data-id="8"] img:hover{
	transform: rotate(720deg);
}
#trombi .el-trombi[data-id="6"] img:hover{
	transform: rotate(-720deg);
}
#trombi .el-trombi[data-id="7"] img:hover{
	transform: translateX(30px);
}
#trombi .el-trombi[data-id="5"] img:hover{
	transform: scale(0.5,1)
}
#trombi .el-trombi[data-id="4"] img:hover{
	transform: translateX(-360px);
}
#trombi .el-trombi[data-id="3"] img:hover{
	transform: scale(0.5,0.5);
}
#trombi .el-trombi[data-id="2"] img:hover{
	transform: rotate(-220deg);
}
#trombi .el-trombi[data-id="1"] img:hover{
	transform: translateX(360px);
}

body {
	margin-top: 60px;
}

.nom-crise {
	font-size: larger;
}

